<table class="table">
  <thead>
    <tr>
      <th scope="col">sr.no</th>
      <th scope="col">Movie Name</th>
      <th scope="col">Time</th>
      <th scope="col">Seat</th>
      <th scope="col">Status</th>
      <th scope="col">Realse</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active" *ngIf="bookdata">
      <th scope="row">1</th>
      <td>{{bookdata.Title}}</td>
      <td>{{bookdata.time}}</td>
      <td>{{bookdata.seat}}</td>
      <td>{{bookdata.status}}</td>
      <td>{{bookdata.Year}}</td>

    </tr>
  </tbody>
</table>