.row {


    /* display: block; */
    /* border: 5px solid black; */
    /* display: inline; */
}

form {
    /* display: inline block; */
    /* display: flexbox; */
    border: 2px solid rgb(59, 56, 56);

}

.D-flex {
    /* display: inline; */
    /* display: inline flex */
    display: flex;
    margin-right: 313px;
}

.flex2 {
    flex: 1;
    margin-left: -315px;
    /* display: inline; */
}

.dropdown {

    /* border-radius: 10px solid black */


}