<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let event of hubarray">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{event.Title}}</h5>
                <h6 class="card-title">{{event.Runtime}}</h6>
                <h6 class="card-title">{{event.Year}}</h6>
                <img style="height: 265px;
                width: 196px;
                margin-bottom: 17px;" [src]="event.Poster" alt="No image found">
                <br>
                <button class="btn btn-primary" routerLink="/book" (click)="callbookticket(event)">Book</button>
            </div>
        </div>
    </div>
</div>

