<div class="row" style="margin-top: 150px;">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Register</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="">Email</label>
            <input [(ngModel)]="registerUserData.email" name="email1" type="email" class="form-control rounded-0" required />
            <br>

          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input   [(ngModel)]="registerUserData.password" name="password"  type="password" class="form-control rounded-0" required />
            <br>
        </div>
        <button (click)="registeruser()" [disabled]="registerUserData.email.length==0||registerUserData.password.length<4"  type="button" class="btn btn-primary float-right" style="margin-left: 36%; border-radius: 20px;">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
